<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Pragma" context="no-cache">
    <title>TCPDUMP</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <style>
      .pagination-page-info {
          padding: .6em;
          padding-left: 0;
          width: 40em;
          margin: .5em;
          margin-left: 0;
          font-size: 12px;
      }
      .pagination-page-info b,
      .total-packgage {
          color: black;
          background: #6aa6ed;
          padding-left: 2px;
          padding: .1em .25em;
          font-size: 150%;
      }
      #message {
        position: absolute;
        margin:auto;
        top: 15px;
        left: 15%;
        right: 15%;
      }
    </style>
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  </head>
  <body>
    <div id="message"></div>
    <div class="container-fluid">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <!-- Collect the nav links, forms, and other content for toggling -->
          <ul class="nav navbar-nav">
            <li><a href="{{ url_for('index') }}" class=""><span class="glyphicon glyphicon-refresh"></span></a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a id="go-home" href="#home" class="" aria-controls="home" role="tab" data-toggle="tab">
                <span class="glyphicon glyphicon-home"></span> Inicio
              </a>
            </li>
            <li>
              <a id="go-stat" href="#estadistica" class="" aria-controls="estadistica" role="tab" data-toggle="tab">
                <span class="glyphicon glyphicon-stats"></span> Estadísticas
              </a>
            </li>
            <li>
              <a href="{{ url_for('remove') }}" class="">
                <span class="glyphicon glyphicon-erase"></span> Eliminar información
              </a>
            </li>
          </ul>
      </div><!-- /.container-fluid -->
    </nav>
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane fade in active" id="home">
        <div id="total-package">
          {% if total > 1 %}
              {{ pagination.info }}
          {% endif %}
        </div>
        {{ pagination.links }}
        <table id="main-table" class="table table-striped">
          <tr>
            <th>Fecha - Hora</th>
            <th>Origen</th>
            <th>Puerto</th>
            <th>Destino</th>
            <th>Puerto</th>
          </tr>
          {% for p in data_packs %}
          <tr>
            <td>{{ p.date }}</td>
            <td>{{ p.source }}</td>
            <td>{{ p.source_port }}</td>
            <td>{{ p.destiny }}</td>
            <td>{{ p.destiny_port }}</td>
          </tr>
          {% endfor %}
        </table>
      </div>
      <div role="tabpanel" class="tab-pane fade" id="estadistica">
        <table id="stat-table" class="table table-striped">
          <tr>
            <th>Puerto (protocolo)</th>
            <th>Total de paquetes</th>
          </tr>
          <tbody>
            {% for q in quantity %}
            <tr>
              <td>{{ q._id }}</td>
              <td>{{ q.count }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    </div>

    <script>
    function getNewPackages() {
      $.ajax({
        type: 'POST',
        url: "{{ url_for( 'update_tcp') }}",
        success: function(data) {
          $("#main-table tr:first-child").after(data['data']);
          $('#total-package').html('Total de paquetes: <b class="total-packgage">'+data['total']+'</b>');
          $("#stat-table").html(data['stats']);
          var rowCount = $('#main-table tr').length;

          if (rowCount > 500) {
            window.location.reload(1);
          }
        }
      });
    }
    (function() {
      setInterval(getNewPackages, 1000);
    }());
    </script>
  </body>
</html>
